@import './stylesheets/variables';
@import './stylesheets/basics';
@import './stylesheets/fonts';
@import './stylesheets/mixins';

.button {
	padding:10px;
	margin: 0 5px;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: $button-border-radius;
	cursor: pointer;
}

.btn-wrapper {
	@include flex-column;
	width: 75%;

	@include for-desktop-up {
		width: 50%;
	}
}

.toast{
	padding:1rem;
	color:white;
	border-radius:10px;
}

.warning-toast{
	background-color:rgba(235, 43, 43, 0.877);
}

.success-toast{
	background-color:rgba(0, 128, 0, 0.877);
}

select,input{
	font-size: 1.1rem;
	font-family: sahel;
}