@font-face {
	font-family: Sahel;
	src: url('../fonts/sahel-font-v3.4.0/Sahel.eot');
	src: url('../fonts/sahel-font-v3.4.0/Sahel.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sahel-font-v3.4.0/Sahel.woff2') format('woff2'),
		 url('../fonts/sahel-font-v3.4.0/Sahel.woff') format('woff'),
		 url('../fonts/sahel-font-v3.4.0/Sahel.ttf') format('truetype');
	font-weight: normal;
}