$modal-overlay-background: #000;
$modal-background: white;
$form-page-background-color:#000080;
$form-background-color:white;
$inventory-background-color:#87CEEB;
$border-radius:15px;
$button-border-radius:15px;
$form-section-border: 1px solid lightgray;
$button-padding:2px;
$button-font-size:1.5rem;
$section-padding:15px;
$inventory-page-padding:10px;
$no-inventory-background-color:white;
$message-box-border-radius:10px;
$message-box-background-color:green;
$chart-page-background-color: #ffe6e6;
$add-source-background-color: lightgreen;
