*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root, #app {
  height: 100%;
  width: 100%;
}

.form-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background-color: #000080;
}

.form-page form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  height: 95%;
  width: 90%;
  background-color: white;
  border-radius: 15px;
}

@media (min-width: 900px) {
  .form-page form {
    width: 40%;
  }
}

.form-page button {
  border: none;
  border-radius: 15px;
  width: 100%;
  height: 50px;
  margin: 2px auto;
  padding: 2px;
  font-size: 1.5rem;
  color: white;
}

.form-section {
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 15px;
  font-size: 1.3rem;
  width: 90%;
}

@media (min-width: 900px) {
  .form-section {
    width: 75%;
  }
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

@media (min-width: 900px) {
  .btn-wrapper {
    width: 50%;
  }
}

#submit-btn {
  background-color: blue;
}

#return-btn {
  background-color: green;
}

select, input {
  border: none;
  margin: 1px auto;
  padding-left: 1rem;
  width: 50%;
  height: 2rem;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px;
  width: 90%;
}

.input-wrapper label {
  width: 100px;
  text-align: center;
}

#calculator .price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#calculator span {
  width: 100px;
  text-align: center;
}

#calculator hr {
  width: 100%;
}

.error-wraper {
  text-align: center;
  color: red;
}
/*# sourceMappingURL=style.css.map */